+++
title = "AMR-H"
linkTitle = "AMR-H"

+++

{{< blocks/cover title="AMR-H: A High Order Adaptive Mesh Refinement Simulation Framework" image_anchor="top" height="full" color="orange" >}}
<p class="lead mt-1"><b>Open Source Infrastructure for Large Scale Scientific Computing</b></p>
<p>&nbsp;</p>
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://fpal.stanford.edu/resources/amr-h" target="_blank" rel="noopener noreferrer">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
        <p class="lead mt-5"><b>What we do enables what we want to do!</b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
AMR-H is led by a team of computational physicists, engineers, and a team of computer scientists at Stanford University collaborating with academic institutes and industrial research facilities across the world.
<br>
<br>
This infrastructure can be used in scientific research, higher education, and engineering applications.
<br>
<br>
AMR-H is released under the [Apache-2.0 license](https://www.apache.org/licenses/LICENSE-2.0).
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-users" title="Join user community!" url="/community/" %}}
Join us and share your experience, comments or questions, and get quick response from the code developement team.
{{% /blocks/feature %}}


{{% blocks/feature icon="fab fa-github" title="Contributions welcome!" url="/docs/contribution" %}}
Please follow these instructions to submit your contributions on **GitHub**. Any interest in potential collaborations is also welcome!
{{% /blocks/feature %}}


{{% blocks/feature icon="fas fa-rss" title="Get updates and join our events!" url="/blog" %}}
For news of events and announcement of releases.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white">}}

<!-- COLLABORATORS -->
<div class="container text-center">
    <p><b>Primary Contributors and Collaborators</b></p>
    <img src="_logos/nsf.png" height="105">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="_logos/stanford.png" height="100">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="_logos/nvidia.png" height="095">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <img src="_logos/snl.png" height="085">
    <br><br>
    This work is supported by the U.S. National Science Foundation
    <br>
    NSF-OAC-2103509
</div>


{{< /blocks/section >}}

